h2 {

    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px; 

}

h1 {

    font-size: 40px;
    font-weight: bold;
}

button {
    border:none;
    padding-top: 10px;
    padding-bottom:10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increament-btn  {

    background: darkred;
}

body {

    max-width: 300px;
    margin: auto;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
    background-image:url("./Images/michal-parzuchowski-dmH3NWhYTHQ-unsplash.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
   
}


#count-el {

    position:relative;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
